.newCommentTable{
    
    margin-left: 400px;
    width: 700px;
    height: 100px;
    background-color: black;
    color: gold;
    
    border-radius: 20px;
    border-style: solid;
    border-color: gold;
    
}

.th-post-table{
    text-align: center;
    
    
}
.description-pom{
   display:flex;
   justify-content: center;
    
}
.input2{
    width: 600px;
    height: 100px;
    border-radius:20px;
}

.button11{
    background-color: black;
    border-style: solid;
    border-color: gold;
    color: gold;
    border-radius: 20px;
}
.button11:hover{
    background-color: gold;
   
    color: black;
    
}