.newPostTable{
    
    margin-left: 370px;
    width: 800px;
    height: 200px;
    background-color: black;
    color: gold;
    
    border-radius: 20px;
    border-style: solid;
    border-color: gold;
    
}

.th-post-table{
    text-align: center;
    
    
}
.input1{
    width:500px;
    text-align: center;
    margin-left: 100px;
    border-radius:20px;
    
}
.input2{
    width: 600px;
    height: 200px;
    margin-left: 100px;
    border-radius:20px;
    
}

.button11{
    background-color: black;
    border-style: solid;
    border-color: gold;
    color: gold;
    border-radius: 20px;
}
.button11:hover{
    background-color: gold;
   
    color: black;
    
}