
        <div class="div1">
            
            <h1 class="h21">Register</h1>
            <div class="line1"></div>
             <form role="search" #form="ngForm"> 
                <label class="h31">First Name:</label>
                <input class="input1" type="text">
                <label class="h31">Second Name:</label>
                <input class="input1" type="text">
               <label class="h31">Username:</label>
               <input class="input1" type="text">
          
            
            <label class="h31">Password:</label>
            <input class="input1" type="password">
            <label class="h31">Repeat Password:</label>
            <input class="input1" type="password">
            <label class="h31">Email:</label>
            <input class="input1" type="email">
            <div class="line2"></div>
        </form>>
        </div>
   