<div class="div1">
    <h1 class="h11">FORUM</h1>
    
  
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/login" *ngIf="navsrv.LoginStatus">Log In</a></button>
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/register" *ngIf="navsrv.LoginStatus">Register</a></button>
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="!navsrv.LoginStatus">Log Out</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/profile" *ngIf="!navsrv.LoginStatus">My Profile</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="!navsrv.LoginStatus">My Posts</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="!navsrv.LoginStatus">Interests</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/home">Home</a></button>
</div>
    





    
