

    

.div1{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    }
.h11 {
    font-family: cursive;
    font-style: italic;
    color: gold;
     text-align: center
    }
.button1 {
            background-color: black;
            color: white;
            margin-right:auto;
            float: right;
            
        }
           
.button2 {
            background-color: black;
            color: white;
            margin-right: auto;
        }
         
