<div class="div1">
    <h1 class="h11">FORUM</h1>
    
  
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/login" *ngIf="navCondition.sign">Log In</a></button>
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/register" *ngIf="navCondition.sign">Register</a></button>
    <button class="but1" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="navCondition.sign">Log Out</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="navCondition.sign">My Profile</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="navCondition.sign">My Posts</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/" *ngIf="navCondition.sign">Interests</a></button>
    <button class="but2" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/home" *ngIf="navCondition.sign">Home</a></button>
</div>
    





    
